[2017-01-12 19:12] keepnone opened #1 "Mod?"
Hello,

How could this be modified to show all messages sent to a user instead of just the private messages sent from the current user?

Thank you

[2017-01-13 06:43] aslanyanhaik commented on #1
Hi there. Yeah since it uses Firebase you can modify to show all messages per user. In fact on next update will include group messaging which is almost same functionality.

[2017-01-14 08:28] sahil280114 opened #2 "Wrong Paramets Error"
Hey when I try to register, it shows the wrong paramets warning label everytime.
How to solve this?

[2017-01-14 08:29] aslanyanhaik commented on #2
check the readMe

[2017-01-14 08:33] sahil280114 commented on #2
Already done but still same problem

[2017-01-14 08:54] sahil280114 commented on #2
Hey the issue is solved

[2017-01-14 08:55] sahil280114 commented on #2
How do you add contacts to chat with

[2017-01-14 08:55] sahil280114 commented on #2
And how to add video chat

[2017-01-14 09:25] aslanyanhaik commented on #2
there is no "add contacts". App will show all registered accounts on the server. For video you should modify Message class

[2017-01-15 11:10] #1 closed, assigned to nobody

[2017-01-15 11:10] #2 closed, assigned to nobody

[2017-01-18 06:26] status302 opened #3 "Wrong input paramets always show"
Did as your readme, but 'Wrong  input paramets' always show, whatever login or register.

[2017-01-18 06:32] aslanyanhaik commented on #3
sometimes initial setup doesn't work on simulator, please try on actual device.

[2017-01-18 07:02] status302 commented on #3
@aslanyanhaik didn't work too.😔

[2017-01-18 12:34] gscalzo commented on #3
@qiuncheng have you done the point 6?
[code]

If yes, try to change the `User.swift` file, adding a log in the `registerUser` function;
[code]

[2017-01-18 15:58] waploaj opened #4 "an app it crash after launch"
after launch an app and login the app crash .

[2017-01-18 16:03] aslanyanhaik commented on #4
check the "Getting Started"

[2017-01-18 16:11] waploaj commented on #4
on firebase??

[2017-01-18 16:16] aslanyanhaik commented on #4
you should go through these steps:

1. Open the QuickChat workspace in Xcode.
2. Change Bundle Identifier to match your domain.
3. Go to Firebase and create new project.
4. Select "Add Firebase to your iOS app" option, type bundle Identifier & click continue.
5. Download "GoogleService-Info.plist" file and add to the project. Make sure file name is "GoogleService-Info.plist".
6. Go to Firebase Con

[2017-01-18 16:19] status302 commented on #3
@gscalzo THX.🙃
I did point 6, useless.
Now try to log msg. Hope helpful.

[2017-01-18 16:22] aslanyanhaik commented on #3
have you updated the pods?

[2017-01-18 16:24] status302 commented on #3
@aslanyanhaik Yes, I did. 😟,
Maybe because that ?

[2017-01-18 16:29] matsmats commented on #3
@qiuncheng have you verified your email? Did you get an email with a verification link?

[2017-01-18 16:33] status302 commented on #3
@matsmats No, didn't get any email.

[2017-01-18 16:42] aslanyanhaik commented on #3
@matsmats email verification has nothing to do with functionality.
@qiuncheng please delete the app from device/simulator and run again. I have checked, works perfectly.

[2017-01-18 16:45] status302 commented on #3
@aslanyanhaik When I log the error in my device, I get this.
[code]
So what the `invalid API Key` means?

[2017-01-18 16:51] aslanyanhaik commented on #3
API Key is stored in "GoogleService-Info.plist". Seems like it's missing or is not target member. Try to redownload it and on dragging to xCode check "Copy items if needed"

[2017-01-18 16:54] waploaj commented on #4
i went through all of those steps and app keep on crash when am trying to establish new chat

[2017-01-18 17:04] status302 commented on #3
@aslanyanhaik Oh, thx, it worked.😋

[2017-01-18 17:10] #4 closed, assigned to nobody

[2017-01-18 17:38] #3 closed, assigned to nobody

[2017-01-19 02:39] sishenyihuba opened #5 "Nothing happen when I input my email and pwd"
Nothing happen when I input my email and pwd.

"Sign in" && "Reguster" all give no response.

[2017-01-19 03:20] aslanyanhaik commented on #5
Follow "getting started" guide

[2017-01-19 03:56] sishenyihuba commented on #5
I came out a  crash too.. ,    Can

[2017-01-19 07:05] #5 closed, assigned to nobody

[2017-01-20 03:35] phucnd0604 opened #6 "problem with loading message"
This app work well but i found a problem that when you open chat screen and the app load old message, because you use the observer for adding child so it will make the tableview update for each message. So when the conversation have about 1000 message or more (its possible) it call the update function 1000 times, its bad, the app may freeze or crash. Hope you can improve it.

[2017-01-20 06:43] aslanyanhaik commented on #6
Thanks for this comment, didn't thought about this. Indeed it's not a good solution. I will fix this in upcoming version.

[2017-01-20 07:07] phucnd0604 commented on #6
Sure, maybe you need to re-design the data structure, the conversation can only have 2 child: content (array of messages), last update. When the app get old messages, you can get message from content child, the last update can use for real time chat.

[2017-01-25 03:02] roncook99 opened #7 "Issue with Quick Chat"
Hello. Good program. Just learning swift. I am running Xcode 8.2.1. When I run your program, I get an error - Could not cast value of type 'NSNULL' to "NSDictionary'. Seems to stop in User.swift - Class Func info - let data = snapshot.value as! [String: String].

Have any ideas

Thanks,

Ron

[2017-01-25 16:04] bradybrisson commented on #7
Same issue. Please release an updated version with the solution

[2017-01-27 03:48] roncook99 commented on #7
Brady, remember Haik has posted this as s favor to the community. I'm trying to find a solution as you should be doing as well. We'll get it figured out.

Ron

[2017-01-27 15:32] razvanifteme commented on #7
[code]

[2017-01-30 12:28] aslanyanhaik commented on #7
thank you guys for your feedback, I will try to fix in this week.

[2017-01-31 01:37] bradybrisson commented on #7
On Mon, Jan 30, 2017 at 7:28 AM Haik Aslanyan <notifications@github.com>
wrote:

Thank you, we appreciate the help

[2017-02-05 08:18] aslanyanhaik commented on #7
Hi everyone, the bug is fixed. I will close the issue if everything is working on your devices.

[2017-02-05 14:41] waploaj opened #8 "DELETE MESSAGE AND USER FROM DATABASE"
the app is working fine but i have some kind of advise what if we have 1000 user and i want to contact a specific user? i think every chat app should have the option of delete message

[2017-02-05 15:19] aslanyanhaik commented on #8
@waploaj yes, I'm planning to add delete option along with group chat in next release.

[2017-02-05 15:23] #8 closed, assigned to nobody

[2017-02-06 04:15] roncook99 commented on #7
Hi. Just tried it and it crashes with an unhandled exception error. I'll try and gets little more info as to exactly what's happening.

Ron

[2017-02-06 04:39] aslanyanhaik commented on #7
Hey @roncook99  please delete all files in derived data folder.

[2017-02-06 13:39] jackpaster opened #9 "Using this chat on my own personal server problem"
Hello aslanyaik, I love this project so much. It's by far the best chat project on github. But I use a parse heroku server. Heroku server but in the parse language. Is it possible to implement this project with the parse language.

[2017-02-06 14:47] roncook99 commented on #7
Thanks. I'll give it a try tonight!

[2017-02-06 14:51] bradybrisson commented on #7
On Mon, Feb 6, 2017 at 9:47 AM roncook99 <notifications@github.com> wrote:

Thank you! I will also give it a try tonight

[2017-02-07 00:59] roncook99 commented on #7
That did the trick! Works great! I will be adding some functionally such at changing profile after registering and maybe adding groups or rooms.

Ron

[2017-02-08 01:25] #7 closed, assigned to nobody

[2017-02-08 23:11] aa88bb opened #10 "Can you tell us how to use this app"
I can signup and login, but nothing later. How to add a friend? Is it still a big bug?

[2017-02-09 05:29] junyng opened #11 "app message "seems like you're alone in this world""
First, Thanks for well made app and I have some issue in this app
I maked two Ids at Firebase console Authentication and signed two devices, but messages pop ups to like "seems like you're alone in this world"
How to launch correctly without this issue

[2017-02-09 05:55] aslanyanhaik commented on #11
Instead of creating users via firebase console, register via app

[2017-02-09 05:55] aslanyanhaik commented on #10
it's not a bug, check the "read me" for setup

[2017-02-09 05:58] aslanyanhaik commented on #9
I think it's possible, firebase is very similar to parse. Please check their blog, they have some articles related to swift.

[2017-02-09 07:29] junyng commented on #11
It works well, thank you
I have another question. When I create new app that is necessary to have quick chat.framework?

[2017-02-09 07:53] aslanyanhaik commented on #11
quick chat.framework is basically a precompiled version of all classes. In case of removing you will have some issues during buildtime

[2017-02-09 16:46] Photauge opened #12 "Business Inquire"
Hello aslanyanhaik,

This is the development team at Photauge and we are interested in your skills.

You would be one of the lead developers for our firebase networking.

Email us at photauge@gmail.com if you are interested!

Then we can discuss pay and then we can give more information.

[2017-02-09 18:34] junyng commented on #11
Thanks for your help 👍

[2017-02-10 04:30] #11 closed, assigned to nobody

[2017-02-10 16:33] #9 closed, assigned to nobody

[2017-02-10 16:33] #10 closed, assigned to nobody

[2017-02-10 17:25] aa88bb opened #13 "still can't work"
My friend and I followed all the steps but.....   we can register and login, but then nothing. When you want to start a new conversation, "Seems like you are alone in this world". This is the only thing we can see. If you give me your email, I can send you the screen  shot. Maybe there are still some big bug...

[2017-02-13 06:45] yarodevuci commented on #13
@aa88bb @aslanyanhaik Same issue!!!

[2017-02-13 06:50] aslanyanhaik commented on #13
@aa88bb @yarodevuci the contacts are appearing from database/Users. Can you please check if there are more than one users in Database?

[2017-02-13 07:11] yarodevuci commented on #13
@aslanyanhaik I have register of course multiple emails and confirmed them. Users are not showing up

By the way, when creating a new account the spinning wheel never goes away.. I have to kill the app and sign in.
Honestly this project sucks, no comments on the code, tons of crashes, I can't even make it work. Don't upload stuff to cocoacontrols if it is not working...

[2017-02-13 07:13] aslanyanhaik commented on #13
okay, will look on that

[2017-02-13 07:13] aslanyanhaik commented on #13
thank you guys for your feedback

[2017-02-13 07:13] yarodevuci commented on #13
@aslanyanhaik please improve 👍

[2017-02-13 07:20] yarodevuci commented on #13
@aslanyanhaik there is also a hint for you man, why u always login user? Instead you can check for `FIRAuth.auth()?.currentUser != nil` and if not nil just present the chat VC..

[2017-02-14 03:56] choutiy opened #14 "Any cache for messages?"
Seems like everytime the ChatVC is loaded, we call firebase for message content, is that right?

Is there anyway to implement a cache?

[2017-02-14 12:30] arunlj561 commented on #14
FireBase provides a offline capabilities, which caches the data .

FIRDatabase.database().persistenceEnabled = true

You can check this - https://firebase.google.com/docs/database/ios/offline-capabilities

[2017-02-14 15:24] rahulraocoder opened #15 "Not able to Register User"
Stucked on the loading preview as show below
![screenshot 2](https://cloud.githubusercontent.com/assets/16189966/22935164/ba7a1ec0-f2f7-11e6-86fe-716bde2ea347.png)

[2017-02-14 15:33] #15 closed, assigned to nobody

[2017-02-14 15:53] rahulraocoder opened #16 "You are the only one in this world"
I registered two users but still getting error
as You are the only one here, How can I get all the users listed and chat with them?

[2017-02-14 15:55] aslanyanhaik commented on #14
yeah this is an issue, working on this for next release
https://github.com/aslanyanhaik/Quick-Chat/issues/6

[2017-02-14 15:56] aslanyanhaik commented on #16
https://github.com/aslanyanhaik/Quick-Chat/issues/13

[2017-02-15 07:57] rahulraocoder commented on #16
I solved the error by changing the authentication rules of the firebase database
earlier it was.

[code]

**to**

[code]

[2017-02-15 07:58] rahulraocoder commented on #13
#16

[2017-02-15 09:03] ghost opened #17 "Your Quick-Chat app crash"
When I run the app it crashes in launch screen ? Ca you please check why it happen like this ?

[2017-02-15 09:05] aslanyanhaik commented on #16
still it's an error, users shouldn't be allowed to access db without authentication.

[2017-02-15 09:06] aslanyanhaik commented on #17
did you follow the installation steps? Please check the "readme" for setup

[2017-02-20 16:52] #17 closed, assigned to nobody

[2017-02-20 17:06] #14 closed, assigned to nobody

[2017-02-20 17:23] aslanyanhaik commented on #13
@rahulroxx was checking, seems like the default authentication for db is the one you have suggested.
@yarodevuci @aa88bb have you checked the db access rules? I'm testing the app over and over again and yet can't find that bug.
@yarodevuci app logs in after initial start to make sure the user is registered in backend. Does
FIRAuth.auth()?.currentUser != nil checks with backend for the user?

[2017-02-22 08:58] imhafeez opened #18 "Crash on sending message"
When you send message the app crashes and gives you

[2017-02-22 09:01] aslanyanhaik commented on #18
On which instance app is crashing?

[2017-02-22 10:11] LivioGama commented on #16
I figured out. First you are force to put a picture when registering, or the callback creating the user in the database won't be called. Then you have to change the rules of your storage or the file will never be uploaded to :

` match /{allPaths=**} {
      allow read, write;
    }`

[2017-02-22 10:11] LivioGama commented on #13
I figured out. First you are force to put a picture when registering, or the callback creating the user in the database won't be called. Then you have to change the rules of your storage or the file will never be uploaded to :

` match /{allPaths=**} {
      allow read, write;
    }`

[2017-02-22 12:39] imhafeez commented on #18
This happens when you start conversation with an un-varified email User.

[2017-02-22 14:29] dhavalpanchani opened #19 "Continuously loading loading while register."
It's only loading while registering a new account. Why it's happening? Could you please check it?

![loading](https://cloud.githubusercontent.com/assets/25957550/23215696/4e18d916-f8e1-11e6-97fc-6669493d4196.png)

[2017-02-22 14:31] aslanyanhaik commented on #19
did you went over setup of Firebase?

[2017-02-22 14:32] aslanyanhaik commented on #18
unverified option is not important. Which property of class is nil when unwrapping?

[2017-02-22 15:11] dhavalpanchani commented on #19
Yeah I've already setup fire base in the console and add .plist file in the
project too.

On Wed, 22 Feb 2017 at 8:01 PM, Haik Aslanyan <notifications@github.com>
wrote:

[2017-02-24 03:37] JoshuaHolme opened #20 "Push Notifications"
Are there push notifications coded in the app? I can't seem to get them to work.

[2017-02-24 05:02] aslanyanhaik commented on #20
no for push notifications you should setup firebase along with APNs

[2017-02-24 20:26] JoshuaHolme commented on #20
I was able to send a notification to all users through the firebase console, but I can't seem to find a way to get it to work peer to peer. Say one user receives a message from another user, but their phone is locked. Nothing happens and there is no notification on their lock screen.

[2017-02-25 14:38] aslanyanhaik commented on #19
did you changed the permissions of email signin? App will stuck if email sign in option is disabled

[2017-02-25 14:39] #13 closed, assigned to nobody

[2017-02-25 14:39] #16 closed, assigned to nobody

[2017-02-25 14:39] #18 closed, assigned to nobody

[2017-02-25 14:42] aslanyanhaik commented on #20
You need to get device token and store in db along with user information. You should also have some logic on backend to send push notification so specific user.

[2017-02-25 18:24] dhavalpanchani commented on #19
Yeah I've enabled email signin option in the firebase console.

On Sat, 25 Feb 2017 at 8:08 PM, Haik Aslanyan <notifications@github.com>
wrote:

[2017-02-27 03:36] NatanTechofNY opened #21 "Registration not working?"
Registration is stuck on infinite loop.

[2017-02-27 04:19] alimashuri commented on #19
@aslanyanhaik please share your firebase rule.

[2017-02-27 05:54] #20 closed, assigned to nobody

[2017-03-06 04:59] atifsaeed14 commented on #6
Hi Haik Aslanyan, nice chat project base on firebase, when you update new version with these loading message issue fixes...

[2017-03-07 06:07] vishakhaAp opened #22 "3 ERRORS are there after i put GoogleService-Info.plist in app and update the pod"
![screen shot 2017-03-07 at 11 21 52 am](https://cloud.githubusercontent.com/assets/26242210/23643883/6e89f254-032a-11e7-86ad-ba97f3630c02.png)
![screen shot 2017-03-07 at 11 22 35 am](https://cloud.githubusercontent.com/assets/26242210/23643882/6e7463da-032a-11e7-9b40-7fb4b0dde538.png)

[2017-03-07 06:08] vishakhaAp commented on #22
please help me...

[2017-03-07 06:09] aslanyanhaik commented on #22
check the "readme"

[2017-03-07 06:38] vishakhaAp commented on #22
i done exact like this but this error is occurs ... please help me

[2017-03-07 06:41] vishakhaAp commented on #22
![screen shot 2017-03-07 at 12 10 51 pm](https://cloud.githubusercontent.com/assets/26242210/23644811/270406fe-032f-11e7-9191-fe03476a5848.png)
this error is occurs

[2017-03-07 06:43] aslanyanhaik commented on #22
Seems like the project files are missing, please download again or try to delete all files in derived data folder.

[2017-03-07 06:46] vishakhaAp commented on #22
i already done this but again i do this and then see

[2017-03-07 07:23] vishakhaAp commented on #22
done...thanks

[2017-03-07 07:26] vishakhaAp commented on #22
i m alone in conversation please tell me how can i add people in this...

[2017-03-18 10:16] ghost opened #23 "User Profile Picture"
Hi,

How to change user profile pic? Can you help?

Thanks.

[2017-03-22 09:29] aslanyanhaik commented on #23
@msahins editing profile is not implemented yet. But you can functionality. Please look in db Users tree. Every user has a profile picture link.

[2017-03-22 09:29] #22 closed, assigned to nobody

[2017-03-22 09:30] #21 closed, assigned to nobody

[2017-03-22 09:30] #23 closed, assigned to nobody

[2017-04-03 13:33] sourabhsharmait opened #24 "Audio message sending functionality"
Hi, Could you please add audio chat functionality?

[2017-04-04 11:43] moh1122 opened #25 "Blocking Mechanism"
Hello
I really like your app
Can you please help me integrate the blocking mechanism inside this app?
Thank you

[2017-04-04 11:58] kararkka commented on #25
Can you use firebase to do it
On Tue, Apr 4, 2017 at 2:43 PM moh1122 <notifications@github.com> wrote:

--
karar kka

[2017-04-05 06:22] moh1122 commented on #25
It should be, @aslanyanhaik can you please integrate it.
Thank you

[2017-04-18 15:56] dhavalappvolution commented on #19
Please find the attached file

[GoogleService-Info.plist.zip](https://github.com/aslanyanhaik/Quick-Chat/files/930291/GoogleService-Info.plist.zip)

[2017-04-18 15:58] aslanyanhaik commented on #25
hi guys I'm planning to integrate blocking feature in upcoming version

[2017-04-18 15:59] aslanyanhaik commented on #24
@sourabhsharmait perhaps. Want to add video sharing functionality first, then audio chat

[2017-05-01 15:03] bhautikappv commented on #19
Any updates on this?

[2017-05-09 15:25] schulz89sp opened #26 "NOTIFICATION & AUDIO MESSAGE & DELETE"
Hi, meanwhile great work !!!
I would like to know how to implement 3 things ...

1. Notify when a message arrives;
2. Send audio message;
3. Delete the conversation.

Always if you can ...
I follow you and look forward to the next version ... possible release date?

[2017-05-09 17:54] aslanyanhaik commented on #26
Hi there
1. It's on Firebase side, didn't dig deeper. I think it's possible, please check this: https://firebase.google.com/docs/cloud-messaging/
2. It should be implemented same way as image. App should send audio data to storage and have some functionality to play audio.
3. For every conversation, there is a conversation group and both users have that conversation ID in their profile. For deleti

[2017-05-09 18:20] BilalBaydoun opened #27 "App is crashing"
Hello Aslan,

Thank you for the amazing app, the app was working fine but it suddenly gave me this error and keep crashing:

objc[1654]: Class PLBuildVersion is implemented in both /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/PrivateFrameworks/AssetsLibraryServices.framework/AssetsLibraryServices (0x11a7facc0) and /

[2017-05-09 18:26] BilalBaydoun commented on #27
}
2017-05-09 21:24:19.739720+0300 QuickChat[263:8495] libMobileGestalt MobileGestaltSupport.m:153: pid 263 (QuickChat) does not have sandbox access for frZQaeyWLUvLjeuEK43hmg and IS NOT appropriately entitled
2017-05-09 21:24:19.739920+0300 QuickChat[263:8495] libMobileGestalt MobileGestalt.c:550: no access to InverseDeviceID (see <rdar://problem/11744455>)

I'm getting also this output error

[2017-05-09 18:39] aslanyanhaik commented on #27
Please delete Xcode derived data, and run on actual device.

[2017-05-09 19:05] BilalBaydoun commented on #27
the second error is when I ran the app on my phone, let me give it second try and I'll update you

[2017-05-09 19:10] BilalBaydoun commented on #27
same thing I deleted derived data and it's giving me same error on simulator and on my phone

[2017-05-09 19:16] aslanyanhaik commented on #27
are you on iOS 10.3?

[2017-05-09 19:18] BilalBaydoun commented on #27
yes! I think that's the issue!

[2017-05-09 19:20] aslanyanhaik commented on #27
seems like the issue is with maps view. https://forums.developer.apple.com/thread/72286
I'll fix this asap. Thanks for informing.

[2017-05-12 06:38] sonphung90 opened #28 "Can't download users"
ERROR /BuildRoot/Library/Caches/com.apple.xbs/Sources/VectorKit_Sim/VectorKit-1230.34.9.30.27/GeoGL/GeoGL/GLCoreContext.cpp 1763: InfoLog SolidRibbonShader:
ERROR /BuildRoot/Library/Caches/com.apple.xbs/Sources/VectorKit_Sim/VectorKit-1230.34.9.30.27/GeoGL/GeoGL/GLCoreContext.cpp 1764: WARNING: Output of vertex shader 'v_gradient' not read by fragment shader

[2017-05-12 17:36] sergiusX commented on #19
firebase auth rule
{
  "rules": {
    ".read": "auth != null",
    ".write": "auth != null"
  }
}

[2017-05-12 17:38] aslanyanhaik commented on #28
https://github.com/aslanyanhaik/Quick-Chat/issues/27#issuecomment-300273255

[2017-05-15 17:03] DominikGrodl opened #29 "Profile picture not working"
Hello. Thanks for this great app but I have one issue. When I want to log in and tap the profile picture button the app crashes. What am I doing wrong?

[2017-05-18 00:10] owinrojas opened #30 "App is Crashing"
I get this "thread 1: EXC_breakpoint code=1 subcode 0x1007951fc"

[2017-05-18 00:12] owinrojas commented on #27
My app crashes too but i get this error thread 1: EXC_breakpoint code=1 subcode 0x1007951fc

[2017-06-01 08:22] aslanyanhaik commented on #27
@BilalBaydoun Are you running on simulator? Can see that bug on my device.

[2017-07-20 01:33] syedrazackimran opened #31 "Increase Text field height"
Hi ,
 there any function available to increase the height of text field during user typing the message like growing!

[2017-08-15 19:20] Redthered opened #32 "you should make a android version"

[2017-08-19 20:04] raj06malhotra opened #33 "Authentication failed"
Please check your condition for authentication.

[2017-09-05 05:11] arjunhanswal opened #34 "How to implement Group chat in this project"

[2017-09-12 02:59] iWeslie opened #35 "Can't see any other users"
I am using `Xcode9` beta and `iOS 11` beta, running the app will be fine.
But after I registered 2 users through my email.The avatar, Name, E-mail Label is empty in the leftBarButtonItem in Nav Controller, I don't know why.Also, the feather icon on the right isn't work.
For example, I logout my user A and login user B, when I click the feather icon it will show my user A by common sense, but it sa

[2017-09-12 06:22] aslanyanhaik commented on #35
Hey @iWeslie I'm working on new version of chat which will support latest Xcode 9 and iOS 11. It should be ready by end of the month.

[2017-09-16 15:50] yosahil32 commented on #35
Nice dude. I am a big fan of the work u do. Really support it man.

[2017-09-18 06:51] Pande07 opened #36 "How to implement group chat?"

[2017-09-18 06:52] #36 closed

[2017-10-02 02:09] kamaki94 opened #37 "Swift 4"
any updates for swift 4. Thanks

[2017-10-11 14:56] DingenV opened #39 "The new firebase version screws over the documentation of the app"
Due to a versionupdate on firebase your app receives warnings about FIBauth, should be Auth. If i convert the app, it doesn't seem to work.

[2017-10-11 18:37] rrulin commented on #37
Made Pull request, but maintainer has not yet accepted it

[2017-10-17 00:26] p-ul opened #41 "Provide Firebase security rules"
Firebase security rules should ideally be provided with the source code, otherwise the app is essentially useless.

[2017-10-23 06:54] aslanyanhaik commented on #39
@vinnivb yeah, I'll add version to cocoapod in next release

[2017-10-24 09:59] DingenV commented on #39
Hi,

Thanks for your respons. I’m looking forward to the new version.
You can contact me if you need any help.

Kind regards,

[2017-10-24 10:28] DingenV commented on #39
Hi, Thanks for your respons. I’m looking forward to the new version.You can contact me if you need any help.Kind regards,On 23 Oct 2017, at 08:54, Haik Aslanyan <notifications@github.com> wrote:@vinnivb yeah, I'll add version to cocoapod in next release—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publ

[2017-10-30 18:32] mitulmarsonia commented on #26
@schulz89sp Did you get any help for notification ?

[2017-10-31 06:57] brightfuture commented on #32
I don't know what the owner's original intention is, maybe just sharing his learnings, if you want an android version, make one yourself.

[2017-10-31 07:01] brightfuture opened #43 "Is there a function to add contacts?"
I looked all over the app and can't find an add friend button, this is so strange.

[2017-11-02 00:03] Redthered opened #44 "Blocking"
I think you should add the ability to block someone

[2017-11-02 00:30] elvincsci opened #45 "Forgot password"
If possible please implement a forgot password option

[2017-11-05 07:07] mitulmarsonia commented on #26
@aslanyanhaik I have checked document but i did not get proper way how to get notification when app in background or close. Can you please help me out ?

[2017-11-18 20:22] patrickshih123 opened #46 "Although I successfully installed and logged in, the message always shows you seem alone in the world!"
Thanks for the great example. But, I do not know exactly how to use it. After I logged in and tried starting conversation, the message always you seem alone in the world. Is there anyone who can instruct how to use the app?

[2017-11-20 15:09] bharathreddy-97 commented on #46
I am getting the same thing

[2017-11-21 07:43] sagarsukode commented on #46
I am also facing same issue..

[2017-11-27 10:48] atiberius commented on #46
You need to install it on at least two different devices (I did it on one iPhone and one iPad) and then use different accounts. After that, they will see each other and you can test communicating between them.

[2017-11-28 03:27] patrickshih123 commented on #46
Thanks for your reply. I tried opening two simulators but, still did not work. Why is it necessary to open the same app from different devices? Any difference?

[2017-11-28 10:12] atiberius commented on #46
That's the setup that worked for me.

[2017-12-01 04:52] elvincsci commented on #46
Work around - In firebase go to database and click "Try Firestore BETA", then click "enable" the application should start working.

[2017-12-01 04:53] elvincsci commented on #43
Work around - In firebase go to database and click "Try Firestore BETA", click "enable" the application should start working.

[2017-12-01 04:53] elvincsci commented on #35
Work around - In firebase go to database and click "Try Firestore BETA", click "enable" the application should start working.

[2017-12-01 15:17] patrickshih123 commented on #46
Can I ask one question? If it's needed to work around, then does the example still have the value for reference to make other similar projects?

[2017-12-01 17:05] elvincsci commented on #46
Based on two different chat apps that i've looked at, the problem seems to be that the firebase database is not enabled.
Enabling "Firestore BETA" seems to enable the firebase realtime database that the chat app needs to work. So doing the same thing on your project should work.

[2017-12-04 17:46] nitin-agam opened #47 "Audio and video functionalities [Advance Features]"
Hi There,
Thanks for this great demo of chat.
I just want to add audio and video functionalities in this chat. Please suggest how I do this?

Thanks!!!

[2017-12-06 12:39] dev-vinoth commented on #6
Need a fix +1

[2017-12-09 10:38] alhanuf commented on #19
Me too what is the reason?

[2017-12-09 10:42] mtheeb commented on #46
I did the “ Firestone Beat “, but still doesn’t work!!

[2017-12-20 03:39] srinivasanj commented on #46
Enable `Database `and `Storage ` (to store profile images).
Install the app on multiple devices (or simulators) and **create different accounts**.
Should work after that.

[2017-12-20 03:57] srinivasanj commented on #19
Enable Database and Storage in Firebase. Then re-install, re-create an account and try.

[2017-12-22 03:20] FarrelWahyudi opened #49 "App is crashing at the beginning"
When i download it and try to fix the issues for swift 4, there is no problem with it... but when i try to compile it it crashed at the launch screen... any solution????

 *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Could not find a storyboard named 'Main' in bundle NSBundle </Users/farrel_wahyudi/Library/Developer/CoreSimulator/Devices/43523E95-2270-48ED-B

[2017-12-22 03:29] #49 closed, assigned to nobody

[2017-12-22 03:35] FarrelWahyudi opened #50 "unexpectedly found nil while unwrapping an Optional value"
I get this error while i try to compile the code, any suggestion or solustion???

[27909:1833012] fatal error: unexpectedly found nil while unwrapping an Optional value

[2017-12-29 15:39] swfithao commented on #46
I got the same issue and i am using firebase 4. after enable the firestone still got same issue can't see anyone in the app and profile is not updating.. didn't get the data back from firebase.
seeing following error in the log:
2017-12-29 10:28:28.114781-0500 QuickChat[3746:218730] TIC Read Status [1:0x0]: 1:57
2017-12-29 10:28:28.114954-0500 QuickChat[3746:218730] TIC Read Status [1:0x0]: 1:57
2

[2017-12-29 16:10] swfithao commented on #46
Just want to update after enable the firestone and deleted the account and registered i can see the user and able to chat.

[2018-01-02 08:25] kodjokeyi commented on #46
delete old accounts and register again after enable the database. it worked for me.

[2018-01-02 16:45] tcdinh1991 commented on #50
The same issue, when i try to send the first message. Ios 11.2, Ipad Air 2.
p/s: I sloved this problem.
- first, i deleted all the database and storage.
- Enable Cloud Firestore.
- Logout and create new account.
It worked!

[2018-01-02 17:11] tcdinh1991 opened #51 "Crash when choose avatar on the real device."
It doesn't crash on simulator (IP8+, IOS 11.2).
But when i try it on device (Ipad Air 2, IOS 11.2), it crashes, when i tap avatar icon on Register screen.

(Sorry about my English).

[2018-01-11 05:14] Alex-Harrison commented on #19
Any new updates?

[2018-01-17 08:38] alttex commented on #19
**you have to pick avatar image**.And all will be nice:)Just click on empty avatar image

[2018-01-19 10:45] d33pak-s1ngh opened #52 "is there support for audio and video messages ?"
i am looking for chat sdk which will work on android and ios where we can send text message,image,audio and video files with firebase as a back end.
so can we achieve all of this with quick-chat ? if not then what we should do to use quick chat for android also.

[2018-02-03 06:32] d33pak-s1ngh opened #53 "problem in setup project"
I am new to the Ios developent and
As instructions given in readme file i followed and installed project after updating pods i am getting error in code related to firebase the error is saying that

"FIRAuth is change to Auth and FIRDatabase change to Database"

when i try to change FIRAuth to Auth another errors start coming.
when i was updating the pod file message was showing that Firebase(4.8.2

[2018-02-14 09:25] IvanYurchenko commented on #53
It’s because the FireBase was updated to ver. 4 that has broken the project. If you still need this you can try the fixed version: https://github.com/IvanYurchenko/Quick-Chat I created a pull request, but I’m not sure if the author of this repo comes frequently enough to merge it.

[2018-02-14 10:03] IvanYurchenko opened #55 "Stuck on pressing Register"
When I enter name, email and password and press Register button the loading circle appear and nothing happens.

![iphone 8 plus - 11 2 2018-02-14 12-07-58](https://user-images.githubusercontent.com/13982503/36198631-c585400e-117f-11e8-87fc-58a42e6f7b58.png)

[2018-02-15 09:21] d33pak-s1ngh commented on #53
@IvanYurchenko  thank you for the help got it up and running.

[2018-02-16 12:43] deep1931 opened #56 "Thread 1: signal SIGABRT"
When i run it it stuck on landing screen and shows error in class AppDelegates, how to fix it?

[2018-02-16 13:03] #56 closed, assigned to nobody

[2018-02-18 11:38] IvanYurchenko commented on #53
@d33pak-s1ngh Were you able to make it work? I was able to compile and run it but it doesn’t allow me to register correctly and when I’m trying to log in it tells me that "You are alone in this world".

[2018-02-19 04:28] d33pak-s1ngh commented on #53
@IvanYurchenko
i have registered two users and i was able to send messages from one user to another user.
when i register for first time i got "You are alone in this world" then i logut that user and register another user and everything works fine i can see the new user from the users tab.

[2018-02-19 09:14] IvanYurchenko commented on #53
@d33pak-s1ngh Could you please share your project if you still have it around? Registration is broken for me for some reason and I can’t fix it regardless of what I’m doing. It just stucks on the loading spinner when I press Register and then either registers the user in some incorrect way or doesn’t register at all.

[2018-02-19 09:58] d33pak-s1ngh commented on #53
have u setup your firebase setup properly ? can you see the users into
firebase database when you register any user ?

On Mon, Feb 19, 2018 at 2:45 PM, Ivan Yurchenko <notifications@github.com>
wrote:

[2018-02-19 18:35] StephenCBecker commented on #55
I was having the same issue. I reached out to Haik Aslanyan the maker of the app. He said he would work on the issues that are happening now.

Hopefully he will soon....

[2018-02-26 11:30] IvanYurchenko commented on #55
@StephenCBecker Thank you! Please let me know if you were somehow able to resolve this issue by yourself.

[2018-02-26 11:45] IvanYurchenko commented on #55
By the way, I found another project with Auth, it's not so cute, but it's working. https://github.com/firebase/friendlychat-ios

[2018-02-26 11:46] IvanYurchenko commented on #53
@d33pak-s1ngh Excuse me for a long response, haven't had a chance to work on this. Yes, I can see registered users but it still tells me that I'm alone.

![qqqq authentication firebase console 2018-02-26 13-43-45](https://user-images.githubusercontent.com/13982503/36668887-6da9cf82-1afb-11e8-990b-b973cb204be7.png)

[2018-02-26 11:56] d33pak-s1ngh commented on #53
well i have done nothing extra then installing the project you shared to
me. i have also seen the same message, i tried to login from the other
registered users and then i was able to see the users list. so please try
to login from the users that you have registered.

On Mon, Feb 26, 2018 at 5:16 PM, Ivan Yurchenko <notifications@github.com>
wrote:

[2018-02-26 12:06] d33pak-s1ngh commented on #53
​
 Quick-Chat-master copy.zip
<https://drive.google.com/file/d/1EWeG8cWLQVYbzG2nVvg3VlXvnsa1s80c/view?usp=drive_web>
​

On Mon, Feb 26, 2018 at 5:26 PM, Deepak Rajput <rajputdk420@gmail.com>
wrote:

[2018-02-26 15:41] IvanYurchenko commented on #53
@d33pak-s1ngh Thank you for assistance! I've tried your project and it doesn't work for me as well. I'll try to create my Firebase project from scratch, maybe the problem is there. And yeah, I accessed from iphone and simulator simultaneously and it still didn't work.

[2018-02-26 15:46] d33pak-s1ngh commented on #53
Add your google plist file in the project which i have shared.
If you want chat application, there is a channel on youtube "lets build
that app" there is play list available for creating firebase chat which i
have followed.

On Feb 26, 2018 9:11 PM, "Ivan Yurchenko" <notifications@github.com> wrote:

[2018-03-01 20:25] IvanYurchenko commented on #53
Oh awesome, thank you very much for the recommendation! I'll try to go through it. Do you have a source code of finished app somewhere so I could watch it while doing mine?

Also, do you have telegram or something? I could help you with back-end/front-end development if you'll ever need it. 😄

[2018-03-01 20:45] IvanYurchenko commented on #53
And yea, I added google plist to the project though it still doesn't work and gets stuck when I click Register button.

[2018-03-03 17:20] d33pak-s1ngh commented on #53
*www.letsbuildthatapp.com <http://www.letsbuildthatapp.com>* go to this
site and register . It is absolutely free without any headache once you
loggged in you will find various courses all are free(some paid like
instagram ) find the one you need "Firebase Chat Messanger" open that
course and you will get source code (in swift 4) chapter by chapter if you
want complete app then go for the last cha

[2018-03-07 16:30] murali129 opened #57 "please update read.me"
I am new to firebase, I guess the readme does not cover the things like creating **user database** in firebase and other things required for the app to be fully functional

[2018-03-17 06:13] kumarUjjawal opened #58 "wrong parameter"
whenever I try to sign in it says wrong parameter.

[2018-03-20 13:03] goribchat opened #59 "Wrong Input parameters please try again"
the app is great. but whenever i tried to login or register it is showing Wrong Input parameters please try again. please help..

[2018-03-20 13:07] goribchat commented on #46
Everytime when i tried to login it is showing Wrong Input parameters please try again. please help..

[2018-03-21 12:05] goribchat commented on #57
Hey have you logged in successfully? whenever i am trying to register or login it is showing Wrong Input parameters please try again

[2018-03-21 12:06] goribchat commented on #55
when ever i am trying to register or login it is showing Wrong Input parameters please try again. have you guys solve this problem? please help.

[2018-03-21 12:11] goribchat commented on #45
have you logged in successfully?

[2018-03-21 13:20] murali129 commented on #57
@goribchat  I am able to login successfully, it worked when
I have created userprofilePics folder in firebase or something like that dont remember exactly, I solved it by logging the errors from the app, the error handling is not managed well in the app.

[2018-03-22 04:30] goribchat commented on #57
@murali129 : Thank You. yes the error handling is not managed well but the app is quite good.

[2018-03-22 15:30] #57 closed, assigned to nobody

[2018-03-25 01:42] nathanieldavis commented on #59
Also experiencing this on both login and register.
![img_62abd223a5d5-1](https://user-images.githubusercontent.com/9319141/37870791-d7c031ec-2fa3-11e8-9e21-67ace773e5f2.jpeg)

[2018-03-25 16:14] connorcowling commented on #51
I have experienced this bug too. It is an issue with the iPad though, not real device. It works for iPhone on real device and simulator, but only on iPads it doesn't work.

[2018-03-26 04:30] goribchat commented on #59
Yes.this same issue i am facing. does any one know the solution?

[2018-04-04 18:49] suzixinsu opened #60 "A possible solution to the stucking registering page"
Enable storage and database in your Firebase

[2018-04-05 14:50] pballada commented on #55
Activating Database and Storage worked for me.
Also remember that the password needs to be 6 characters minimum

[2018-04-06 19:52] schulz89sp opened #61 "DELETE A CONVERSATION"
Hi guys, how do I delete an entire conversation in the tableview with the scrool to the left?
That is the code to delete the record from Firebase...

[2018-04-06 21:22] #60 closed, assigned to nobody

[2018-04-11 15:58] wbhminnt commented on #59
Check whether that user already exists in the Firebase console users overview (Authentication tab)

[2018-04-22 08:36] connorcowling commented on #59
Make sure you have activated -> Database and Storage, in Firebase. I am also using Realtime Database not Cloud Firestore

[2018-05-02 22:13] edisonjoao commented on #25
hey did you integrate the blocking feature?

[2018-05-07 21:38] edisonjoao commented on #44
second this

[2018-05-10 12:39] capumanGib opened #62 "Compile errors"
Hi guys,

Awesome project! I've added the firebase stuff, updated with cocoapods etc, but when i try to compile the project i get 3 errors:
Value of type 'StorageMetadata' has no member 'downloadURL'
Value of type 'AuthDataResult' has no member 'sendEmailVerification'
Value of type 'AuthDataResult' has no member 'uid'

Anyone know how to solve those issues?

Tanks

[2018-05-22 18:33] NKesar75 commented on #62
Storage Metadata has been depricatied this stack overflow answer is the new way to make it work the problem is hard to find because firebase didn't update their docs yet. https://stackoverflow.com/a/50464820/9830365 as far as uid and send email verification I haven't used it from authdataresult i get the uid like this  let userID = Auth.auth().currentUser?.uid if i find something on email verifica

[2018-05-23 10:19] MinhajJaved commented on #55
Make sure you have activated -> Database and Storage, in Firebase.

[2018-05-28 18:34] mirzazulfan opened #63 "Propose Logo/Icon"
Hi @aslanyanhaik ,, I'm graphic disigner. I would like to know if you are interested that I make a logo for your project? If you allowed me, i"ll make logo for your project.

[2018-06-04 01:43] brandonwilliams commented on #62
Any updates, Hector?

[2018-06-04 16:00] NKesar75 commented on #62
Did you try to do this?

Auth.auth().currentUser?.sendEmailVerification { (error) in
  // ...error do code here
}

[2018-06-07 13:59] gurpalrajput commented on #63
@mirzazulfan nice , app will look more beautiful.

[2018-06-07 15:58] pineapple-it-solutions opened #64 "length of the UITextField messages"
is it possible to increase the length of messages?
Currently it is 406, and I can not figure out where it is set

[2018-06-07 20:59] edbeecroft commented on #62
Hey guys, just a passer by, but here's the changes and their fixes.

**1. Value of type 'StorageMetadata' has no member 'downloadURL'**

_Original code:_
[code]

_New code:_
[code]

**2. Value of type 'AuthDataResult' has no member 'sendEmailVerification'**

_Original code:_ No idea, never used this ;)

_New code:_
[code]

**3. Value of type 'AuthDataResult' has no member 'uid'**

_Original code:_

[2018-06-08 03:48] gurpalrajput opened #65 "data is not fetching"
![screen shot 2018-06-08 at 9 14 13 am](https://user-images.githubusercontent.com/17024274/41138116-b3bd6b7c-6afc-11e8-8a67-9607df7e2da1.png)
![screen shot 2018-06-08 at 9 14 19 am](https://user-images.githubusercontent.com/17024274/41138117-b3f3aca0-6afc-11e8-9ae5-7841738d0823.png)
i am able to login properly and able to create email ids even they are showing in firebase console , but , every thi

[2018-06-08 18:37] mirzazulfan commented on #63
Hi, I've designed a logo for your project, if you like it, you can use it. Tell me if you need some change or anything, i'll fix it.
![2](https://user-images.githubusercontent.com/36124339/41174990-df8f9ef8-6b85-11e8-9ba8-842da7396325.png)

[2018-06-12 23:24] turanyilmaz commented on #65
Hi,

Firstly, you must activate Real Time Database and Storage. When you registered in the app, you should see the user in Database section of Firebase Console.

[2018-06-21 05:03] Rahulin15 commented on #65
Hi GurpalRajput,

I also faced the same issue...
As @turanyilmaz  said just activate Real Time Database and Storage and delete all existing users and try to create new .. Its working ... Also enable Cloud Firestore Beta instead of RealTime Database in Database section

[2018-06-30 08:07] leak404 commented on #62
i don't fix problem hicccc

[2018-07-03 08:47] ishrek commented on #15
how about fix it ?

[2018-07-12 09:51] anvpn opened #66 "You can improvise the downloadLastMessage Method with this simple way"
Hi there.

I have clone your code and i really appreciated the work you had done. It was really nice and well-explained work you have provide to a beginner.

But i have found some more easy and clean code with some of your implement method and will be improvised.

You have one method named : "downloadLastMessage" in Message Class

Here for having the last message of chat/conversation you have loop

[2018-07-25 11:41] ShadowParticle opened #67 "Please update Firebase to newer version"
Always nice to have the newest update, curious to see how Quick-Chat would look with it

[2018-08-01 13:02] #67 closed, assigned to nobody

[2018-08-20 10:46] abhishek201 commented on #55
I am also having the same issue...I have activated the real time database also.

[2018-09-06 12:21] w3care25 opened #68 "Strange App Scroll"
@aslanyanhaik  , @IvanYurchenko , @rrulin  When I tried to setup this project. everything was quite nice except Chat window scrolling. scroll was not up to the mark when new message pushed or deleted.

[2018-09-14 06:30] Nitish34 opened #69 "Value of type 'AuthDataResult?' has no member 'sendEmailVerification'"
I don't know but code shows this error tried pod update but still no luck.

Can you help me out

[2018-09-16 02:41] juztJQ commented on #69
you can use this line

user?.user.sendEmailVerification(completion: nil)

[2018-09-17 12:07] Nitish34 commented on #69
Hey,

 It started, but when i register 2 user  then also it shows you are alone in this world. In FCM also I have checked there is no entry in database.

[2018-09-17 12:26] Nitish34 commented on #69
also it shows this : **QuickChat[7615:633026] 0x7a7b4370 Daemon configuration query reply: XPC_TYPE_DICTIONARY  <dictionary: 0x7a7b4370> { count = 2, transaction: 0, voucher = 0x0, contents =
	"Dictionary" => <dictionary: 0x7a7b9060> { count = 1, transaction: 0, voucher = 0x0, contents =
		"ServerURL" => <dictionary: 0x7a7b90d0> { count = 3, transaction: 0, voucher = 0x0, contents =
			"com.apple.

[2018-09-17 17:35] juztJQ commented on #69
I got the same error,I was reading other issues and say that you need to enable real time data base on firebase console, but not work for me :(

[2018-09-17 17:56] Nitish34 commented on #69
There is some line while creating a user. Some database code I don't remember completely. But that condition is not working. May help you

[2018-10-10 09:25] Michele404 commented on #6
News?

[2018-10-18 08:23] takasurazeem commented on #37
It is under MIT license I guess, you can publish a new version as well

[2018-11-18 12:17] seniyye commented on #65
@turanyilmaz I'm having the same problem also no users appear in the firebase database tab

[2018-12-18 11:50] nitinumaretiya123 commented on #35
@elvincsci i did that still app not working..

[2019-01-07 10:09] thaiksoedev opened #70 "Can't run app"
Can't run app (Thread 1: signal SIGABRT)

*** Terminating app due to uncaught exception 'com.firebase.core', reason: '`[FIRApp configure];` (`FirebaseApp.configure()` in Swift) could not find a valid GoogleService-Info.plist in your project. Please download one from https://console.firebase.google.com/.'

[2019-01-07 11:33] thaiksoedev commented on #70
sorry guys , it's ok .

[2019-01-07 12:07] thaiksoedev commented on #46
@goribchat , i think u should first create account  and then login again .

[2019-01-11 00:57] Redthered opened #71 "Cant Get It to work"
All I get our these errors
 Value of type 'AuthDataResult' has no member 'uid'
 Value of type 'StorageMetadata' has no member 'downloadURL'

[2019-01-18 07:32] elliott-io commented on #46
Tap the profile icon, logout, and create multiple accounts for your multiple personalities.

[2019-01-24 09:41] tnylee commented on #26
@aslanyanhaik For deletion, say userId 1 swipe to delete a conversation with userId 2. Using your explanation, userId 2's conversation with userId 1 will also get deleted although that userId 2 didn't swipe to delete.

I tried deleting userId 2 from userId 1's conversations list. This didn't work. When userId 2 send a new message to userId after the deletion, the location gets replaced with a new

[2019-02-21 14:58] hasankamrul opened #72 "it shows that " Value of type 'StorageMetadata' has no member 'downloadURL' " in user.swift at 48 no line"

[2019-03-26 11:51] vnanaware opened #73 "unable to display bottom input bar"

[2019-04-02 07:16] kutakmir opened #74 "Ultimate Firebase Chat"
Hi, I’d like to contribute to the effort of creating a great Firebase Chat library for iOS written in Swift. There are currently 780 repos on GitHub and I am in a process of writing the 781st one. Which kind of doesn’t make sense.

Would you be interested in joining forces and working together on a common library?

https://github.com/kutakmir/OpenFirebaseChat/

I made an incentive to create a comm

[2019-04-29 02:45] jamesdang commented on #72
I have the same issue.

[2019-04-29 07:34] aslanyanhaik commented on #72
@jamesdang @hasankamrul The Firestorage API has been changed. Working on fix. Will push in this week

[2019-04-29 10:42] aslanyanhaik commented on #73
@vnanaware new version will be available this week

[2019-05-08 00:25] bubbagump00 commented on #72
Great! Looking forward to the update.

[2019-05-08 02:59] andrewga opened #75 "Update Users Profile Icon and name"
Is it possible to update the users profile Icon and username?

[2019-05-08 06:57] aslanyanhaik commented on #75
@andrewga I'm planning to add that feature in near future

[2019-05-15 07:16] #73 closed, assigned to nobody

[2019-05-15 07:16] #74 closed, assigned to nobody

[2019-05-15 07:17] aslanyanhaik commented on #71
@Redthered fixed this on latest release

[2019-05-15 07:17] #71 closed, assigned to nobody

[2019-05-15 07:17] aslanyanhaik commented on #68
@w3care25 this is fixed on latest version

[2019-05-15 07:17] #68 closed, assigned to nobody

[2019-05-15 07:18] #70 closed, assigned to nobody

[2019-05-15 07:18] aslanyanhaik commented on #72
@jamesdang @hasankamrul pushed the new version.

[2019-05-15 07:18] #72 closed, assigned to nobody

[2019-05-15 07:20] aslanyanhaik commented on #69
@Nitish34 @juztJQ I've temporarily removed the email verification on latest version, will try to bring back in future versions

[2019-05-15 07:20] #69 closed, assigned to nobody

[2019-05-15 07:20] #65 closed, assigned to nobody

[2019-05-15 07:21] #32 closed, assigned to nobody

[2019-05-15 07:23] aslanyanhaik commented on #61
@schulz89sp I'll include this feature after creating database rules  to secure the conversation between 2 users

[2019-05-15 07:23] #61 closed, assigned to nobody

[2019-05-15 08:05] #62 closed, assigned to nobody

[2019-05-15 08:06] #64 closed, assigned to nobody

[2019-05-15 08:06] #55 closed, assigned to nobody

[2019-05-15 08:07] aslanyanhaik commented on #55
guys I've updated the project, this issues is fixed

[2019-05-15 08:07] #59 closed, assigned to nobody

[2019-05-15 08:08] aslanyanhaik commented on #52
@d33pak-s1ngh I'm planning to add video/audio functionality

[2019-05-15 08:08] #52 closed, assigned to nobody

[2019-05-15 08:09] aslanyanhaik commented on #37
just updated to Swift 5

[2019-05-15 08:09] #37 closed, assigned to nobody

[2019-05-15 08:10] #6 closed, assigned to nobody

[2019-05-15 08:11] aslanyanhaik commented on #50
fixed this on latest version

[2019-05-15 08:11] #50 closed, assigned to nobody

[2019-05-15 08:12] #43 closed, assigned to nobody

[2019-05-15 08:22] uma130012 opened #76 "missing swift file"
UIFontExtensionFile.swift is missing

[2019-05-15 08:47] aslanyanhaik commented on #76
@uma130012 did you fully pulled from git?

[2019-05-15 09:12] #33 closed, assigned to nobody

[2019-05-15 09:54] aslanyanhaik commented on #35
guys I've updated the project, all issues are fixed

[2019-05-15 09:54] #35 closed, assigned to nobody

[2019-05-15 09:57] aslanyanhaik commented on #51
@tcdinh1991 @connorcowling there is no iPad support at this point. But you can add sourceRect to avoid crash

[2019-05-15 09:57] #51 closed, assigned to nobody

[2019-05-15 09:57] #63 closed, assigned to nobody

[2019-05-15 09:57] #58 closed, assigned to nobody

[2019-05-15 09:57] #31 closed, assigned to nobody

[2019-05-15 09:58] #29 closed, assigned to nobody

[2019-05-15 09:59] #30 closed, assigned to nobody

[2019-05-15 10:04] #28 closed, assigned to nobody

[2019-05-15 10:04] #27 closed, assigned to nobody

[2019-05-15 10:11] aslanyanhaik commented on #39
@vinnivb the new version is updated

[2019-05-15 10:11] #39 closed, assigned to nobody

[2019-05-15 10:12] #46 closed, assigned to nobody

[2019-05-15 10:12] #19 closed

[2019-05-15 12:09] aslanyanhaik commented on #25
guys planning to add that in September

[2019-05-15 12:09] #25 closed, assigned to nobody

[2019-05-15 12:10] #24 closed, assigned to nobody

[2019-05-15 12:10] #34 closed, assigned to nobody

[2019-05-15 12:11] #53 closed, assigned to nobody

[2019-05-15 12:12] aslanyanhaik commented on #66
@AnitaVPN I have changed the project which has fixed this.

[2019-05-15 12:12] #66 closed, assigned to nobody

[2019-05-16 07:16] d33pak-s1ngh commented on #53
Hey,

I just signed the petition "Amazon.com: Amazon Stop insulting Hindus with
Floor Mats and Toilet Mats with Hindu Gods." and wanted to see if you could
help by adding your name.

Our goal is to reach 50,000 signatures and we need more support. You can
read more and sign the petition here:

http://chng.it/4N9KSmYcsP

Thanks!
Deepak

[2019-05-16 07:22] #76 closed, assigned to nobody

[2019-06-06 03:03] sadothcoder opened #77 "I never can't find other users when i test this code"
There are registered 2 test users in Firebase DB. but i can't see any users. I am testing this code on Xcode 10.1 (Swift 4.2)

**Here are error logs when i am on ConversationsViewController**

2019-06-05 20:56:51.177429-0600 QuickChat[90835:2103285]  - <AppMeasurement>[I-ACS036002] Analytics screen reporting is enabled. Call +[FIRAnalytics setScreenName:setScreenClass:] to set the screen name or o

[2019-06-07 14:51] aslanyanhaik commented on #77
@iCoder333 seems like you didn't update the GoogleService-Info.plist file. Without that it will connect to firebase

[2019-06-08 07:44] #77 closed, assigned to nobody

[2019-06-14 08:05] jamesdang opened #78 "Cannot register user"
![IMG_1054](https://user-images.githubusercontent.com/3504985/59493823-a2175500-8e40-11e9-9ffc-80d0606057e3.PNG)

Hi Haik, great job! Only a small bug in the extensions - UIFontExtension.swift, which I have had fixed. But when I ran it, I cannot register a user. Please see the attached screenshot.

Please take a look at this issue.

James

[2019-06-14 18:07] dharmeshec5 commented on #78
Hello,
You need to enable login with email permissions in developer consols.

[2019-06-14 18:14] jamesdang commented on #78
Hi @dharmeshec5! I think I have done that. Please see my screenshot of the firebase console.
![image](https://user-images.githubusercontent.com/3504985/59529347-9f931a80-8e95-11e9-8a7f-ff28cd2f483c.png)

[2019-06-18 13:03] #78 closed, assigned to nobody

[2019-06-20 08:09] jamesdang opened #79 "Challenge SecTrustResultType 5 for www.googleapis.com"
I have got the following errors when I try to register a user:

2019-06-20 00:59:09.557905-0700 QuickChat[9498:731335] Challenge SecTrustResultType 5 for www.googleapis.com, properties: (
        {
        type = error;
        value = "Root certificate is not trusted.";
    }
)
2019-06-20 00:59:09.558250-0700 QuickChat[9498:731335] Cancelling authentication challenge for https://www.googleapis.co

[2019-08-09 12:54] StellarKuldeep commented on #75
@aslanyanhaik , if I use below code to update user details then instead of updating the current user detail, it creates new user.

[code]

Please guide me to update user detail.

[2019-08-12 06:20] aslanyanhaik commented on #79
you should check the time on your device. Seems like the issue is from certificate

[2019-08-12 06:20] #79 closed, assigned to nobody

[2019-08-28 08:32] StellarKuldeep commented on #75
@andrewga & @aslanyanhaik , I have tried below code to update user profile icon & username and it works.

UPDATE
======
[code]

[2019-08-30 08:59] StellarKuldeep opened #80 "How to check the message was read by receiver user or not?"
I want to check the receiver read the sender message or not and as per that I want to show/hide some content in my messageCell.

I found that current code finds the conversation was read or not by below code but I'm unable to find the code that will identify that particular message was read/unread in conversation

[code]

It will be very helpful to me if you guys give me some suggestion to do this

[2019-09-13 06:47] tarsbase commented on #78
I did enable login with email on Firebase. And,I just ran into the same error: Build input file cannot be found: '/Users/haik/Desktop/Quick-Chat/QuickChat/Application/Extensions/UIFontExtension.swift'

[2019-09-28 21:33] Mustafallica opened #81 "Build Target Quickchat Error while compiling the app"
im running to this error below while compiling the app

https://imgur.com/a/CoFHU4p

any help?

**I have MacOS Catalina latest version
and xCode 11.1 GM version**

[2019-10-01 09:32] aslanyanhaik commented on #81
@Mustafallica just pushed a new version which addresses this issue

[2019-10-01 09:32] #81 closed, assigned to nobody

[2019-10-02 22:48] miladyalda opened #82 "security rules for firebase"
Hey!
Would you be able to show me what security rules look like for the cloud database? The app does not work with the usual rules.

[2020-02-24 08:46] Sid6022 commented on #47
You can achieve via this method
`func update<T>(_ object: T, reference: FirestoreCollectionReference, completion: @escaping CompletionObject<FirestoreResponse>) where T: FireStorageCodable `

which is located in **FirestorageService** swift File

[2020-03-02 07:02] isabsent commented on #78
Seems like you have to replace the file`/QuickChat/Application/Resources/GoogleService-Info.plist`in the downloaded repository with your own file `GoogleService-Info.plist` received from `Firebase`.

[2020-03-03 09:15] MunahhadMaaz opened #84 "How to integrate chat in existing project"
How to integrate chat in existing project

[2020-03-03 09:15] MunahhadMaaz commented on #84
How to integrate chat in existing project

[2020-03-28 13:56] zaidqattan commented on #84
Interested

[2020-03-28 18:09] aslanyanhaik commented on #84
@MunahhadMaaz @zaidqattan I'm planning to migrate into separate framework in the future which can be installed via cocoapods or spm

[2020-04-16 18:01] dsharma commented on #82
Same issue here, does not work. Useless code.

[2020-05-26 15:30] Priyanka-gupta-pcg opened #85 "Not able to see users in app to start conversation"
Hi Team,

I am able to login to the app and run app on 2 different devices. But I am not able to see any user inside app. I have already enabled Database and Storage on Firebase.

Following error i am seeing in console in Xcode :- "QuickChat[13279:101534] 6.13.0 - [Firebase/Firestore][I-FST000001] Listen for query at Users failed: Missing or insufficient permissions."

Xcode :- 11.4
iOS :- 13.4

P

[2020-06-20 08:54] devsuresh2005 opened #86 "FirStorageErrorDomain while uploading an image"
Hi @aslanyanhaik @IvanYurchenko @rrulin ,

Thanks for the awesome application.

I am facing FirStorageErrorDomain issue when I try to upload an image from the simulator, screenshot attached FYR.

![image](https://user-images.githubusercontent.com/4179730/85197743-b2d69280-b300-11ea-99a4-08bb651b939c.png)

Any inputs on this issue will help me a lot? Kindly advice.

Thanks.

[2020-06-22 19:41] aslanyanhaik commented on #86
@devsuresh2005 have you checked the firestorage permissions?

[2020-06-24 02:13] devsuresh2005 commented on #86
@aslanyanhaik thanks for the inputs, yes the issue is with the storage permission. Thank you so much.

[2020-06-24 02:13] #86 closed, assigned to nobody

[2020-09-16 11:28] AbdulAj opened #87 "RealTime DB Schema issue"
Hello, You have provided an awesome piece of app, very smooth, very nice
I have one problem, I have downloaded this app, worked according to given instructions. I'm send messages to users, its working perfect but issue is
**when I go the realtime database, there is no schema**, instead I find a flow in cloud firestore,
can you please help **whether I'm going wrong or this is just for cloud store,

[2021-07-24 16:59] harleyseoul opened #88 "Unable to load"
Hi,

I'm new here. just wondering if this has anything to do with the M1 chip:

Showing Recent Messages
Unable to read contents of XCFileList '/Target Support Files/Pods-QuickChat/Pods-QuickChat-frameworks-Debug-output-files.xcfilelist'

Unable to load contents of file list: '/Target Support Files/Pods-QuickChat/Pods-QuickChat-frameworks-Debug-input-files.xcfilelist'

Unable to load contents of fi

[2021-07-24 18:22] harleyseoul commented on #88
trying to redo pod install, hopefully fixes it

[2022-01-12 09:17] Taimoor20 commented on #84
@aslanyanhaik did you work on how to integrate it in existing project?